{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Mikhael Natalnael - Books</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <h1> Book Catalog </h1>
      <br>
      <p id="text"> Welcome to the Book Catalog. You can search any book you want by inputting search term inside the <br>
        search bar below! The search results will only show the Title, Author, and the Cover for the book. </p>
      <p id="text"> Happy searching! </p>

      <div class="input-group mb-3">
        <input id="search" class="form-control" placeholder="Input something...">
        <div class="input-group-append">
          <button class="btn btn-primary btn-outline-secondary" type="button" id="button">Search</button>
        </div>
      </div>

      <div class="table-responsive mt-5">
        <table class=" table table-light table-hover">
          <thead class = "thead">
            <tr class="text-center">
              <th scope="col" class="align-middle">Cover</th>
              <th scope="col" class="align-middle">Title</th>
              <th scope="col" class="align-middle">Authors</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
