body {
  background: #333030;
  color: #FFFFFF;
}

h1 {
  font-family: "Letters for Learners";
}

#text {
  font-family: "Letters for Learners";
  font-size: 18pt;
}

.container {
  margin-top: 40px;
}

.input-group {
  margin-top: 40px;
}

h2 {
  font-family: "AntipastoPro-DemiBold_trial";
  font-size: 14pt;
}

p {
  font-family: "AntipastoPro-DemiBold_trial";
  font-size: 12pt;
}

.btn {
  background: #28282B !important;
  color: #FFFFFF !important;
  border: 0px !important;
  font-family: "Chaparral Pro" !important;
}

input {
  font-family: "Chaparral Pro" !important;
}

img {
  max-width: 100px;
  max-height: 100px;
}

#bookDetail li {
  display: inline-block;
}

.align-middle {
  align-items: center;
  border: 0px !important;
}

td {
  font-family: "Chaparral Pro" !important;
}
